pyparsing==2.2.0
greenlet==0.4.15
oauthlib==0.7.2
paho-mqtt==1.0
tzlocal==1.5.1
redis
requests
requests-oauthlib==0.4.2
whitenoise==1.0.3
openpyxl==2.4.8
recommonmark==0.5.0
sphinx==1.8.5
sphinx_rtd_theme==0.4.3
sphinx-autobuild==0.7.1
recommonmark==0.5.0
numpy